body{
  background-image: url(../images/bg-image.jpeg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header a section{
    width: 50px;
    height: 20px;
    background-image: url(../svg/arrowleft_icon-icons.com_61207.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px;
    transition: 0.3s;
}

.container {
    height: 600px;
}

header a section:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

p{
    font-size: 50px;
    font-family: "Architects Daughter script=latin rev=1";
    text-decoration: underline;
    text-align: center;
}
table tr:nth-child(4) td:nth-child(2) img{
    margin-left: 10px;
    transition: 0.7s;
}
table tr:nth-child(4) td:nth-child(2) img:hover{
    transition: 0.7s;
    transform: scale(1.2);
}
.Map{
    margin: auto;
    margin-top: 20px;
}
.Map tr:nth-child(1) td:nth-child(1) img{
    margin-left: 10px;
    transition: 0.7s;
    animation: 1s linear 0s normal none infinite running img;
    -webkit-animation: 1.7s linear 0s normal none infinite running img;
}
    @keyframes img {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
   @-webkit-keyframes img {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
    }
iframe{
    width: 500px;
    height: 400px;
}